@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700|Varela+Round);

body {
    font-family:"Open Sans",sans-serif;
    font-size:1.5em;
}

h1, h2, h3 {
    font-family:"Arial Rounded MT Bold","Varela Round","Helvetica Rounded",Arial,sans-serif;
    font-weight:bold;
    color:#d71635;
    padding-bottom: 8px;
    margin-bottom: 0;
}

h4 {
    font-size:1em;
    font-weight:bold;
    padding-bottom:0;
    margin-bottom: 0;
}

#header {
   background: #d71635; 
}
#intro {
    display: none;
}

.menu a {
    color: #fff !important;
    text-transform: uppercase;
    font-size: 16px;
}
.menu a:hover {
    color: #ccc !important;
}
.sub-menu {
    background: #000 !important;
    margin-top: -50px !important;
}
#header-links {
    float: left;
}
.wpb_content_element {
    margin-bottom: 0;
}
.vc_row {
    padding-bottom: 30px;
    margin-top: -30px;
}

#footer-core {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    border: none;
}

#footer {
   background: #d71635; 
   border: none;
}
#footer .widget {
    border: none;
}
#footer .textwidget {
    color: #fff;
}
#sub-footer {
    background: #d71635;
    border: none;
}
#sub-footer-core {
    border: none;
}


.link-footer address {
    font-style: normal;
    color: #fff;
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
}



@media screen and (max-width: 960px) {
   .sub-menu {
    margin-top: 0 !important;
}
    
    
}