.cml-flag-tiny-en:before {
    content: url(../flags/tiny/en_US.png);
    width: 16px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.cml-flag-tiny-de:before {
    content: url(../flags/tiny/de_DE.png);
    width: 16px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.cml-flag-tiny-es:before {
    content: url(../flags/tiny/es_ES.png);
    width: 16px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.cml-flag-tiny-pl:before {
    content: url(../flags/tiny/pl_PL.png);
    width: 16px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.cml-flag-tiny-nb:before {
    content: url(../flags/tiny/nb_NO.png);
    width: 16px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.cml-flag-small-en:before {
    content: url(../flags/small/en_US.png);
    width: 32px;
    height: 33px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.cml-flag-small-de:before {
    content: url(../flags/small/de_DE.png);
    width: 32px;
    height: 33px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.cml-flag-small-es:before {
    content: url(../flags/small/es_ES.png);
    width: 32px;
    height: 33px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.cml-flag-small-pl:before {
    content: url(../flags/small/pl_PL.png);
    width: 32px;
    height: 33px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.cml-flag-small-nb:before {
    content: url(../flags/small/nb_NO.png);
    width: 32px;
    height: 33px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}